#login-form{
	margin-top: 10%;
	margin-left: 10%;
}
.yield{
	margin-top: 5%;
  margin-bottom:7%;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  opacity: 0.9;
}
.alerterror {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*.chat{
  margin-left: 5%;
}*/

.chatHeadingAc{
  float:left;
  color: #5B5ED6;
  font-weight: 600;
}

.chatHeadingInac{
  float:left;
  font-weight: 600;
  color: #1A1986;

}

.time{
  float:left;
  font-size: 0.9em;
  color: gray;
}

.text{
  float:left;
  margin-left: 5%;
}
.break {
  clear: both;
}

.circular {
  margin-left: 2%;
  float:left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  }
.right{
  margin-left:5%;
}
#more_msgs{
  margin: 1%;
  margin-left: 5%;
}

#newMessage{
  margin : 10px;
}

.no_more_msgs{
  text-align: center;
  float:left;
}
  
